# ─────────────────────────────
# 📦 Project
# ─────────────────────────────
PROJECT_NAME=alfa_service

# ─────────────────────────────
# ⚙️ Django
# ─────────────────────────────
DJANGO_SECRET_KEY=supersecretkey123
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*
DJANGO_PORT=8000

# ─────────────────────────────
# 🐘 PostgreSQL
# ─────────────────────────────
DATABASE_NAME=alfa_db
DATABASE_USER=alfa_user
DATABASE_PASSWORD=alfa_pass
DATABASE_HOST=postgres
DATABASE_PORT=5432

# ─────────────────────────────
# 🧠 Redis / Celery
# ─────────────────────────────
REDIS_PORT=6379
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=django-db

# ─────────────────────────────
# 🧰 pgAdmin
# ─────────────────────────────
PGADMIN_EMAIL=admin@local
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050
