# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.env.local
*.sqlite3
venv/

# Django
media/
staticfiles/
*.log

# Docker
*.env
*.tar
docker-compose.override.yml

# VSCode / JetBrains
.vscode/
.idea/

# Project
employees.yaml
